-- Họ và tên: Vũ Minh Phát
-- MSSV: 21127739
-- Bài tập tuần 3

-- Sử dụng DB đã tạo để thực hiện truy vấn
-- Có thể thay đổi tên DB sao cho phù hợp
USE QLGiaoVienThamGiaDeTai
GO

-- Q1: HOTEN và LUONG GV nữ
SELECT HOTEN
	 , LUONG
--	 , PHAI
  FROM GIAOVIEN
 WHERE PHAI = N'Nữ'

-- Q2: HOTEN và LUONG tăng 10%
SELECT HOTEN
--	 , LUONG LUONG_TRUOC
	 , LUONG * 1.1 LUONG_SAU
  FROM GIAOVIEN

-- Q3: MAGV HOTEN bdau 'Nguyễn' và lương trên 2000
--		hoặc trưởng BM nhận chức sau 1995
SELECT MAGV
  FROM GIAOVIEN
 WHERE HOTEN LIKE N'Nguyễn%' AND LUONG > 2000
 UNION
SELECT MAGV
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.TRUONGBM = GV.MAGV
 WHERE year(BM.NGAYNHANCHUC) >= 1995

-- Q4: Tên GV khoa 'Công nghệ thông tin'
SELECT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN
	 , GV.HOTEN
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.MABM = GV.MABM
  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
 WHERE K.TENKHOA = N'Công nghệ thông tin'

-- Q5: Thông tin BM và GV làm trưởng BM
SELECT BM.MABM
	 , BM.TENBM
	 , BM.TRUONGBM MA_TRUONGBM
	 , GV.HOTEN HOTEN_TRUONGBM
  FROM BOMON BM
  LEFT JOIN GIAOVIEN GV ON GV.MAGV = BM.TRUONGBM

-- Q6: Với mỗi GV, cho biết thông tin BM họ làm việc
SELECT GV.MAGV
	 , GV.HOTEN
	 , BM.*
  FROM GIAOVIEN GV
  LEFT JOIN BOMON BM ON GV.MABM = BM.MABM

-- Q7: Tên DT và GVCNDT
SELECT DT.TENDT
	 , GV.MAGV MA_GVCNDT
	 , GV.HOTEN HOTEN_GVCNDT
  FROM DETAI DT
  LEFT JOIN GIAOVIEN GV ON GV.MAGV = DT.GVCNDT

-- Q8: Với mỗi khoa cho biết thông tin trưởng khoa
SELECT K.MAKHOA
	 , K.TENKHOA
	 , K.TRUONGKHOA MA_TRUONGKHOA
	 , GV.HOTEN HOTEN_TRUONGKHOA
  FROM KHOA K
  LEFT JOIN GIAOVIEN GV ON GV.MAGV = K.TRUONGKHOA

-- Q9: GV thuộc BM 'Vi sinh' tham gia DT '006'
SELECT DISTINCT GV.*
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.MABM = GV.MABM
  JOIN THAMGIADT TGDT ON TGDT.MAGV = GV.MAGV
 WHERE BM.TENBM = 'Vi sinh' 
   AND TGDT.MADT = '006'

-- Q.10: MADT, CD, GVCNDT (HOTEN, NGSINH, DIACHI) 
-- Dữ liệu (có thể) ko có CAPQL 'Thành phố'
SELECT DT.MADT
	 , CD.TENCD
	 , GV.HOTEN HOTEN_NGUOI_CHUNHIEM
	 , GV.NGSINH
	 , GV.DIACHI
  FROM DETAI DT
  LEFT JOIN CHUDE CD ON CD.MACD = DT.MACD
  LEFT JOIN GIAOVIEN GV ON GV.MAGV = DT.GVCNDT
 WHERE DT.CAPQL = N'Thành phố'

-- Q.11: HOTEN GV và GVQLCM của GV đó
SELECT GV.HOTEN HOTEN_GV
	 , GVQL.HOTEN HOTEN_GVQLCM
  FROM GIAOVIEN GV
  LEFT JOIN GIAOVIEN GVQL
    ON GV.GVQLCM = GVQL.MAGV

-- Q.12: HOTEN GV được 'Nguyễn Thanh Tùng' phụ trách trực tiếp
SELECT GV.HOTEN
  FROM GIAOVIEN GV
  JOIN GIAOVIEN GVQL ON GVQL.MAGV = GV.GVQLCM
 WHERE GVQL.HOTEN = N'Nguyễn Thanh Tùng'

-- Q.13: Tên trưởng bộ môn 'Hệ thống thông tin'
SELECT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN
	 , GV.HOTEN
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.TRUONGBM = GV.MAGV
 WHERE BM.TENBM = N'Hệ thống thông tin'
 
-- Q.14: Tên GVCNDT của DT thuộc CD 'Quản lý giáo dục'
SELECT DISTINCT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN
	 , GV.HOTEN
  FROM DETAI DT
  JOIN CHUDE CD ON CD.MACD = DT.MACD
  LEFT JOIN GIAOVIEN GV ON DT.GVCNDT = GV.MAGV
 WHERE CD.TENCD = N'Quản lý giáo dục'

-- Q.15: Tên CV của DT 'HTTT quản lý các trường ĐH'
--		 bdau trong t3/2008
SELECT CV.TENCV
	 , CV.NGAYBD
  FROM CONGVIEC CV
  JOIN DETAI DT ON DT.MADT = CV.MADT
 WHERE DT.TENDT = N'HTTT quản lý các trường ĐH'
   AND DATEDIFF(month, CV.NGAYBD, '2008-03-01') = 0

-- Q.16: Tên GV và tên GVQLCM của GV đó
SELECT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN_GV
	 , GV.HOTEN HOTEN_GV
	 , RIGHT(GVQLCM.HOTEN, CHARINDEX(' ', REVERSE(GVQLCM.HOTEN), 0)-1) TEN_GVQLCM
	 , GVQLCM.HOTEN HOTEN_GVQLCM
  FROM GIAOVIEN GV
  LEFT JOIN GIAOVIEN GVQLCM ON GVQLCM.MAGV = GV.GVQLCM

-- Q.17: Cho biết CV bdau từ 01/01/2007 đến 01/08/2007
SELECT *
--	 , CONVERT(date, NGAYBD)
  FROM CONGVIEC
 WHERE CONVERT(date, NGAYBD) BETWEEN '2007-01-01' AND '2007-08-01'

-- Q.18: HOTEN gv cùng BM với gv 'Trần Trà Hương'
SELECT GV1.HOTEN
  FROM GIAOVIEN GV1
  JOIN GIAOVIEN GV2 ON GV2.MABM = GV1.MABM
 WHERE GV2.HOTEN = N'Trần Trà Hương'
   AND GV1.MAGV != GV2.MAGV -- Ko in thông tin gv 'Trần Trà Hương'

-- Q.19: GV vừa là trưởng BM vừa chủ nhiệm DT
SELECT DISTINCT GV.*
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.TRUONGBM = GV.MAGV
  JOIN DETAI DT ON DT.GVCNDT = GV.MAGV

-- Q.20: Tên gv vừa là trưởng khoa vừa là trưởng bộ môn
SELECT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN_GV
	 , GV.HOTEN HOTEN_GV
  FROM GIAOVIEN GV
  JOIN KHOA K ON K.TRUONGKHOA = GV.MAGV
  JOIN BOMON BM ON BM.TRUONGBM = GV.MAGV

-- Q.21: Tên trưởng BM mà vừa chủ nhiệm DT
SELECT DISTINCT RIGHT(GV.HOTEN, CHARINDEX(' ', REVERSE(GV.HOTEN), 0)-1) TEN_TRUONGBM
	 , GV.HOTEN HOTEN_TRUONGBM
  FROM BOMON BM
  JOIN DETAI DT ON DT.GVCNDT = BM.TRUONGBM
  JOIN GIAOVIEN GV ON GV.MAGV = BM.TRUONGBM

-- Q.22: Mã số trưởng khoa có chủ nhiệm đề tài
SELECT DISTINCT K.TRUONGKHOA MASO_TRUONGKHOA
  FROM KHOA K
  JOIN DETAI DT ON DT.GVCNDT = K.TRUONGKHOA

-- Q.23: Mã số gv thuộc BM 'HTTT' hoặc tham gia đề tài '001'
SELECT GV.MAGV
  FROM GIAOVIEN GV
 WHERE GV.MABM = 'HTTT'
 UNION
SELECT TGDT.MAGV
  FROM THAMGIADT TGDT
 WHERE TGDT.MADT = '001'

-- Q.24: Giáo viên làm việc cùng bộ môn với gv 002
SELECT GV1.*
  FROM GIAOVIEN GV1
  JOIN GIAOVIEN GV2 ON GV1.MABM = GV2.MABM
 WHERE GV2.MAGV = '002'
   AND GV1.MAGV != '002' -- Không xuất thông tin gv 002

-- Q.25: Tìm những giáo viên là trưởng bộ môn
SELECT GV.*
  FROM GIAOVIEN GV
  JOIN BOMON BM ON BM.TRUONGBM = GV.MAGV

-- Q.26: Họ tên, mức lương giáo viên
SELECT HOTEN HOTEN_GV
	 , LUONG LUONG_GV
  FROM GIAOVIEN

