use QLGiaoVienThamGiaDeTai
go

-- (6)
SELECT * 
  FROM BOMON
 WHERE MABM IN (
	SELECT MABM
	  FROM BOMON
	EXCEPT
	SELECT BM.MABM
	  FROM BOMON BM
	  JOIN GIAOVIEN GV ON GV.MAGV = BM.TRUONGBM 
 )
GO
  
-- (7)
SELECT *
  FROM BOMON
 WHERE MABM IN (
	 SELECT BM.MABM
	  FROM BOMON BM
	  JOIN GIAOVIEN GV ON GV.MAGV = BM.TRUONGBM 
 )
GO

-- (10)
WITH CTE AS (
	SELECT DISTINCT GV.MAGV, TG.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
 )
SELECT MAGV FROM CTE WHERE MADT = '001'
INTERSECT
SELECT MAGV FROM CTE WHERE MADT = '002'
GO

-- (9)
SELECT DISTINCT GV.MAGV
  FROM GIAOVIEN GV
  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
 WHERE MADT = '001' OR MADT = '002'

GO

-- (11)
WITH CTE AS (
	SELECT DISTINCT GV.MAGV, TG.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
 )
SELECT MAGV FROM CTE WHERE MADT = '001'
EXCEPT
SELECT MAGV FROM CTE WHERE MADT = '002'
GO

SELECT DISTINCT MAGV, MADT
FROM THAMGIADT TG
GO

-- (12)
WITH GV_HTTT_TGDT_CAP_TRUONG AS (
	SELECT GV.MAGV, DT.MADT, STT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE MABM = 'HTTT' AND CAPQL = N'Trường'
  ), CV_DT_CAP_TRUONG AS (
	  SELECT CV.MADT, CV.SOTT
	  FROM CONGVIEC CV
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE CAPQL = N'Trường' --AND SOTT = 2
  )
SELECT T1.MAGV, T1.MADT
  FROM GV_HTTT_TGDT_CAP_TRUONG T1
 GROUP BY T1.MAGV, T1.MADT
HAVING COUNT(DISTINCT T1.STT) = (
		SELECT COUNT(SOTT)
		  FROM CV_DT_CAP_TRUONG S
		 WHERE T1.MADT = S.MADT
  )
GO

-- (13)
WITH CTE AS (
	SELECT GV.MAGV, TG.STT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	 WHERE GV.MABM = 'MMT'
	   AND TG.MADT = '001'
  )
SELECT T1.*
  FROM CTE T1
 WHERE NOT EXISTS (
	SELECT CONGVIEC.SOTT
	  FROM CONGVIEC 
	 WHERE MADT = '001' --AND SOTT IN ('001', '002')
	EXCEPT
	SELECT STT
	  FROM CTE T2
	 WHERE T2.MAGV = T1.MAGV
  )	  
GO
   
-- (14)
SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT GV.MAGV
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE TENBM LIKE N'Mạng máy tính'
	   --AND TENDT LIKE N'Ứng dụng hóa học xanh'
	   AND TENDT LIKE N'HTTT quản lý các trường ĐH'
	 GROUP BY GV.MAGV
	HAVING COUNT(DISTINCT TG.STT) = (
		SELECT COUNT(CV.SOTT)
		  FROM CONGVIEC CV
		  JOIN DETAI DT ON DT.MADT = CV.MADT
		 WHERE TENDT LIKE N'HTTT quản lý các trường ĐH' --AND CV.SOTT IN (1,2)
	  )
 )
GO

-- (15)
WITH CTE AS (
	SELECT GV.MAGV, TG.STT, DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE GV.MAGV = '003' AND DT.MADT = '001'
  )
SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT T1.MAGV
	  FROM CTE T1
	 WHERE NOT EXISTS (
		SELECT *
		  FROM CONGVIEC CV
		 WHERE CV.MADT = '001' --AND CV.SOTT IN (1,2)
		   AND NOT EXISTS (
				SELECT *
				  FROM CTE T2
				 WHERE T2.MADT = CV.MADT AND T2.STT = CV.SOTT
				   AND T2.MAGV = T1.MAGV
		   )
	 ) 
 )
GO

-- (22)
SELECT DISTINCT GV.MAGV, GV.HOTEN
  FROM DETAI DT
  JOIN CHUDE CD ON CD.MACD = DT.MACD
  JOIN GIAOVIEN GV ON GV.MAGV = GVCNDT
 WHERE CAPQL IN (N'Trường', N'ĐHQG')
   AND TENCD LIKE N'Quản lý giáo dục'
GO
