-- Họ và tên: Vũ Minh Phát
-- MSSV: 21127739
-- BTVN: QLChuyenBay - Topic 2

USE QLChuyenBay
GO

-- Q17: Với mỗi SBDen -> slg chuyến bay hạ cánh
SELECT SBDEN
	 , COUNT(MACB)SL_CHUYENBAY_HACANH
  FROM CHUYENBAY
 GROUP BY SBDEN
 ORDER BY SBDEN ASC

-- Q18: ~Q17 cho SBDi
SELECT SBDI
	 , COUNT(MACB)SL_CHUYENBAY_XUATPHAT
  FROM CHUYENBAY
 GROUP BY SBDI
 ORDER BY SBDI ASC
 
-- Q19: Với mỗi SBDI -> slg CB xuất phát theo ngày
SELECT CB.SBDI
	 , LB.NGAYDI
	 , COUNT(*) SLCB_XUATPHAT
  FROM CHUYENBAY CB
  JOIN LICHBAY LB ON LB.MACB = CB.MACB
 GROUP BY CB.SBDI, LB.NGAYDI
 ORDER BY CB.SBDI
 
-- Q20: ~Q19 cho SBDEN
SELECT CB.SBDEN
	 , LB.NGAYDI NGAYHACANH
	 , COUNT(*) SLCB_HACANH
  FROM CHUYENBAY CB
  JOIN LICHBAY LB ON LB.MACB = CB.MACB
 GROUP BY CB.SBDEN, LB.NGAYDI
 ORDER BY CB.SBDEN
 
-- Q21: Với mỗi LB -> MACB, NGAYDI, SLG NV != phi công
SELECT LB.MACB
	 , LB.NGAYDI
	 , COUNT(NV.MANV) SL_NV_KHONGPHAI_PHICONG
  FROM LICHBAY LB
  JOIN PHANCONG PC ON PC.NGAYDI=LB.NGAYDI AND PC.MACB=LB.MACB
  JOIN NHANVIEN NV ON NV.MANV = PC.MANV
 WHERE NV.LOAINV != 1
 GROUP BY LB.MACB, LB.NGAYDI

-- Q22: Số lượng chuyến bay xuất phát từ sân bay MIA vào ngày 11/01/2000
SELECT CB.SBDI
	 , LB.NGAYDI
	 , COUNT(*) SLCB_XUATPHAT
  FROM CHUYENBAY CB
  JOIN LICHBAY LB ON LB.MACB = CB.MACB
 WHERE CB.SBDI = 'MIA' AND DATEDIFF(d, LB.NGAYDI, '2000-11-01') = 0
 GROUP BY LB.NGAYDI, CB.SBDI
 
-- Q23: Với mỗi chuyến bay, -> macb, ngdi, sl nv
SELECT CB.MACB
	 , LB.NGAYDI
	 , COUNT(PC.MANV) SLNV_DUOC_PHANCONG
  FROM CHUYENBAY CB
  LEFT JOIN LICHBAY LB ON LB.MACB = CB.MACB
  LEFT JOIN PHANCONG PC ON PC.MACB=LB.MACB AND PC.NGAYDI=LB.NGAYDI
 GROUP BY CB.MACB, LB.NGAYDI
 ORDER BY COUNT(PC.MANV) DESC  
 
-- Q24: Với mỗi chuyến bay -> macb, ngdi, sl hanh khach
SELECT CB.MACB
	 , LB.NGAYDI
	 , COUNT(DC.MAKH) SLHK_DATCHO
  FROM CHUYENBAY CB
  LEFT JOIN LICHBAY LB ON LB.MACB = CB.MACB
  LEFT JOIN DATCHO DC ON DC.MACB=LB.MACB AND DC.NGAYDI=LB.NGAYDI
 GROUP BY CB.MACB, LB.NGAYDI
 ORDER BY COUNT(DC.MAKH) DESC
  
-- Q25: Với mỗi chuyến bay -> macb, ngdi, tổng lương nv
SELECT CB.MACB
	 , LB.NGAYDI
	 , SUM(NV.LUONG) TONGLUONG_PHIHANHDOAN
  FROM CHUYENBAY CB
  LEFT JOIN LICHBAY LB ON LB.MACB = CB.MACB
  LEFT JOIN PHANCONG PC ON PC.MACB=LB.MACB AND PC.NGAYDI=LB.NGAYDI
  LEFT JOIN NHANVIEN NV ON NV.MANV = PC.MANV
 GROUP BY CB.MACB, LB.NGAYDI
 ORDER BY SUM(NV.LUONG) ASC

-- Q26: lương TB NV không phải PC (1)
SELECT NV.LOAINV
	 , AVG(NV.LUONG) LUONG_TB
  FROM NHANVIEN NV
 WHERE NV.LOAINV != 1
 GROUP BY NV.LOAINV

-- Q27: lương TB PC
SELECT AVG(NV.LUONG) LUONG_TB_PHICONG
  FROM NHANVIEN NV
 WHERE NV.LOAINV = 1

-- Q28: Với mỗi LMB, SL CB hạ cánh SB ORD.
SELECT LMB.MALOAI MALOAI_MAYBAY
	 , COUNT(CB.MACB) SL_CHUYENBAY
  FROM LOAIMB LMB 
  LEFT JOIN MAYBAY MB ON MB.MALOAI=LMB.MALOAI
  LEFT JOIN LICHBAY LB ON LB.SOHIEU=MB.SOHIEU AND LB.MALOAI=MB.MALOAI
  LEFT JOIN CHUYENBAY CB ON CB.MACB = LB.MACB
 WHERE CB.SBDEN = 'ORD'
 GROUP BY LMB.MALOAI
 
-- Q29: (SBDI) và SL CB > 2 CB x.phát khg 10->22 giờ.
SELECT SBDI
	 , COUNT(MACB) SL_CHUYENBAY
  FROM CHUYENBAY
 WHERE GIODI BETWEEN '10:00:00' AND '22:00:00'
 GROUP BY SBDI
HAVING COUNT(MACB) > 2

-- Q30: Tên PC CÓ ít nhất 2 CB trong 1 ngày.
SELECT NV.TEN AS TEN_PHICONG
	 , PC.NGAYDI
	 , COUNT(PC.MACB) SL_CHUYENBAY
  FROM NHANVIEN NV
  JOIN PHANCONG PC ON PC.MANV = NV.MANV
 WHERE NV.LOAINV = 1
 GROUP BY NV.TEN, PC.NGAYDI
HAVING COUNT(PC.MACB) >= 2

-- Q31. MãCB và NgDi của CB < 3 h.khách đặt chỗ.
SELECT CB.MACB
	 , LB.NGAYDI
--	 , COUNT(DC.MAKH) SL_HANHKHACH_DATCHO
  FROM CHUYENBAY CB
  LEFT JOIN LICHBAY LB ON LB.MACB=CB.MACB
  LEFT JOIN DATCHO DC ON DC.MACB=LB.MACB AND DC.NGAYDI=LB.NGAYDI
 GROUP BY CB.MACB, LB.NGAYDI
HAVING COUNT(DC.MAKH) < 3

-- Q32: S.hiệu MB và loại MB mà PC 1001 lái > 2 lần.
SELECT LB.SOHIEU SOHIEU_MAYBAY
	 , LB.MALOAI LOAI_MAYBAY
--	 , COUNT(PC.MANV) SOLANBAY
  FROM LICHBAY LB 
  JOIN PHANCONG PC ON PC.NGAYDI=LB.NGAYDI AND PC.MACB=LB.MACB
 WHERE PC.MANV = '1001'
 GROUP BY LB.SOHIEU, LB.MALOAI
HAVING COUNT(PC.MANV) > 2

-- Q33: Với mỗi HANGSX -> SL LOAIMB hãng đó SX (HANGSX và SL)
SELECT HANGSX
	 , COUNT(MALOAI) SL_LOAIMB_SX
  FROM LOAIMB
 GROUP BY HANGSX
 
