-- Họ và tên: Vũ Minh Phát
-- MSSV: 21127739
-- BTVN: QLChuyenBay - Topic 1

USE QLChuyenBay
GO

-- LOAINV 1 - PHI CÔNG
--		  0 - TIẾP VIÊN
-- Q1.
SELECT NV.MANV
	 , NV.TEN
	 , NV.DCHI
	 , NV.DTHOAI
  FROM NHANVIEN NV
  JOIN PHANCONG PC ON PC.MANV = NV.MANV
  JOIN LICHBAY LB ON LB.MACB = PC.MACB
 WHERE NV.LOAINV = 1
   AND LB.MALOAI = 'B747'
   
-- Q2.
SELECT CB.MACB
	 , LB.NGAYDI 
	 , (CB.GIODI)
  FROM CHUYENBAY CB
  LEFT JOIN LICHBAY LB ON LB.MACB = CB.MACB
 WHERE CB.SBDI = 'DCA'
   AND CB.GIODI BETWEEN '14:00:00' AND '18:00:00' 
   
-- Q3.
SELECT DISTINCT NV.TEN
--	 , NV.MANV
  FROM NHANVIEN NV
  JOIN PHANCONG PC ON PC.MANV = NV.MANV
  JOIN CHUYENBAY CB ON CB.MACB = PC.MACB
 WHERE CB.MACB = 100
   AND CB.SBDI = 'SLC'
   
-- Q4.
SELECT DISTINCT LB.MALOAI
	 , LB.SOHIEU
--	 , LB.MACB
  FROM LICHBAY LB 
  JOIN CHUYENBAY CB ON CB.MACB = LB.MACB
 WHERE CB.SBDI = 'MIA'
 

-- Q5.
SELECT LB.MACB
	 , LB.NGAYDI
	 , KH.TEN
	 , KH.DCHI
	 , KH.DTHOAI
  FROM LICHBAY LB
  JOIN DATCHO DC ON DC.MACB = LB.MACB
  JOIN KHACHHANG KH ON KH.MAKH = DC.MAKH
 ORDER BY LB.MACB ASC, LB.NGAYDI DESC

-- Q6.
SELECT LB.MACB
	 , LB.NGAYDI
	 , NV.TEN
	 , NV.DCHI
	 , NV.DTHOAI
  FROM LICHBAY LB
  JOIN PHANCONG PC ON PC.MACB = LB.MACB AND PC.NGAYDI = LB.NGAYDI
  JOIN NHANVIEN NV ON NV.MANV = PC.MANV
 ORDER BY LB.MACB ASC, LB.NGAYDI DESC

-- Q7.
SELECT LB.MACB
	 , LB.NGAYDI
	 , NV.MANV
	 , NV.TEN
  FROM LICHBAY LB
  JOIN CHUYENBAY CB ON CB.MACB = LB.MACB
  JOIN PHANCONG PC ON PC.MACB=CB.MACB AND PC.NGAYDI=LB.NGAYDI
  JOIN NHANVIEN NV ON NV.MANV = PC.MANV
 WHERE NV.LOAINV = 1
   AND CB.SBDEN = 'ORD'

-- Q8.
SELECT LB.MACB
	 , LB.NGAYDI
	 , NV.TEN
  FROM LICHBAY LB
  JOIN PHANCONG PC ON PC.MACB=LB.MACB AND PC.NGAYDI=LB.NGAYDI
  JOIN NHANVIEN NV ON NV.MANV = PC.MANV
 WHERE NV.MANV = '1001'

-- Q9.
SELECT CB.MACB
	 , CB.SBDI
	 , CB.GIODI
	 , CB.GIODEN
	 , LB.NGAYDI
  FROM CHUYENBAY CB
  JOIN LICHBAY LB ON LB.MACB = CB.MACB
 WHERE CB.SBDEN = 'DEN'
 ORDER BY LB.NGAYDI DESC, CB.SBDI ASC
 
-- Q10.
SELECT NV.TEN
	 , LMB.HANGSX
	 , KN.MALOAI
  FROM NHANVIEN NV
  JOIN KHANANG KN ON KN.MANV = NV.MANV
  JOIN LOAIMB LMB ON LMB.MALOAI = KN.MALOAI

-- Q11.
SELECT NV.MANV
	 , NV.TEN
	 , PC.NGAYDI
  FROM NHANVIEN NV
  JOIN PHANCONG PC ON PC.MANV =  NV.MANV
 WHERE PC.MACB = '100'
   AND DATEDIFF(d, PC.NGAYDI, '11-01-2000') = 0
   AND NV.LOAINV = 1

-- Q12.
SELECT PC.MACB
	 , NV.MANV
	 , NV.TEN
	 , CB.GIODI
  FROM PHANCONG PC
  JOIN NHANVIEN NV ON NV.MANV = PC.MANV
  JOIN LICHBAY LB ON LB.NGAYDI=PC.NGAYDI AND LB.MACB=PC.MACB
  JOIN CHUYENBAY CB ON CB.MACB = LB.MACB
 WHERE DATEDIFF(d, PC.NGAYDI, '10-31-2000') = 0
   AND CB.SBDI = 'MIA'
   AND CB.GIODI = '20:30'

-- Q13.
SELECT LB.MACB
	 , MB.SOHIEU
	 , MB.MALOAI
	 , LMB.HANGSX
  FROM NHANVIEN NV
  JOIN PHANCONG PC ON PC.MANV=NV.MANV
  JOIN LICHBAY LB ON LB.NGAYDI=PC.NGAYDI AND LB.MACB=PC.MACB
  JOIN MAYBAY MB ON MB.SOHIEU=LB.SOHIEU AND MB.MALOAI=MB.MALOAI
  JOIN LOAIMB LMB ON LMB.MALOAI = MB.MALOAI
 WHERE NV.TEN = 'Quang'

-- Q14.
SELECT NV.TEN
	 , PC.NGAYDI
	 , PC.MACB
  FROM NHANVIEN NV
  LEFT JOIN PHANCONG PC ON PC.MANV=NV.MANV
 WHERE NV.LOAINV = 1
   AND PC.MACB IS NULL

-- Q15.
SELECT DISTINCT KH.TEN
	 , KH.MAKH
  FROM KHACHHANG KH
  JOIN DATCHO DC ON DC.MAKH=KH.MAKH
  JOIN LICHBAY LB ON LB.NGAYDI=DC.NGAYDI AND LB.MACB=DC.MACB
  JOIN MAYBAY MB ON MB.SOHIEU=LB.SOHIEU AND MB.MALOAI=LB.MALOAI
  JOIN LOAIMB LMB ON LMB.MALOAI = MB.MALOAI
 WHERE LMB.HANGSX = 'Boeing'

-- Q16.
SELECT LB.MACB
  FROM LICHBAY LB
EXCEPT
SELECT LB.MACB
  FROM LICHBAY LB
 WHERE LB.SOHIEU != '10' 
	OR LB.MALOAI != 'B747'
	
