-- Họ và tên: Vũ Minh Phát
-- MSSV: 21127739
-- Lớp: 21CLC01 (Chiều T2)
-- Bài tập tuần 6

USE QLGiaoVienThamGiaDeTai
GO

-- Q58. Tên GV tham gia đề tài đầy đủ các chủ đề
-- __Cách 1__: EXCEPT
WITH GV_CHUDE AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MACD
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	)

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CHUDE T1
 WHERE NOT EXISTS (
	SELECT MACD
	  FROM CHUDE
	EXCEPT
	SELECT T2.MACD
	  FROM GV_CHUDE T2
	 WHERE T2.MAGV = T1.MAGV
 )
 
GO

-- __Cách 2__: NOT EXISTS
WITH GV_CHUDE AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MACD
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	)

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CHUDE T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM CHUDE CD
	 WHERE NOT EXISTS (
		SELECT *
		  FROM GV_CHUDE T2
		 WHERE T2.MACD = CD.MACD
		   AND T2.MAGV = T1.MAGV
	 )
 )

GO

-- __Cách 3__: COUNT
WITH GV_CHUDE AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MACD
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	)
	
SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CHUDE T1
 GROUP BY T1.MAGV, T1.HOTEN
HAVING COUNT(DISTINCT T1.MACD) = (
	SELECT COUNT(MACD)
	  FROM CHUDE
  )

GO

-- Q59. Tên DT được tất cả GV bm HTTT tham gia
-- __Cách 1__: EXCEPT
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE GV.MABM = N'HTTT'
  )

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 WHERE NOT EXISTS (
	SELECT GV1.MAGV
	  FROM GIAOVIEN GV1
	 WHERE GV1.MABM = N'HTTT'
	EXCEPT
	SELECT T2.MAGV
	  FROM DT_GV_HTTT T2
	 WHERE T2.MADT = T1.MADT
 )
  
GO

-- __Cách 2__: NOT EXISTS
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE GV.MABM = N'HTTT'
  )

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM GIAOVIEN GV
	 WHERE MABM = N'HTTT'
	   AND NOT EXISTS (
			SELECT *
			  FROM DT_GV_HTTT T2
			 WHERE T2.MAGV = GV.MAGV
			   AND T2.MADT = T1.MADT
		)
 )
  
GO

-- __Cách 3__: COUNT
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE GV.MABM = N'HTTT'
  )

SELECT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 GROUP BY T1.MADT, T1.TENDT
HAVING COUNT(DISTINCT T1.MAGV) = (
	SELECT COUNT(MAGV)
	  FROM GIAOVIEN
	 WHERE MABM = N'HTTT'
  )

GO

-- Q60. Tên DT tất cả GV bm 'Hệ thống thông tin' tham gia
-- __Cách 1__: EXCEPT
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE BM.TENBM = N'Hệ thống thông tin'
  )

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 WHERE NOT EXISTS (
	SELECT GV1.MAGV
	  FROM GIAOVIEN GV1
	  JOIN BOMON BM1 ON BM1.MABM = GV1.MABM
	 WHERE BM1.TENBM = N'Hệ thống thông tin'
	EXCEPT
	SELECT T2.MAGV
	  FROM DT_GV_HTTT T2
	 WHERE T2.MADT = T1.MADT
 )
 
GO

-- __Cách 2__: NOT EXISTS
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE BM.TENBM = N'Hệ thống thông tin'
  )

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM GIAOVIEN GV1
	  JOIN BOMON BM1 ON BM1.MABM = GV1.MABM
	 WHERE BM1.TENBM = N'Hệ thống thông tin'
	   AND NOT EXISTS (
			SELECT *
			  FROM DT_GV_HTTT T2
			 WHERE T2.MAGV = GV1.MAGV
			   AND T2.MADT = T1.MADT
	     )
 )

GO

-- __Cách 3__: COUNT
WITH DT_GV_HTTT AS (
	SELECT DISTINCT GV.MAGV
		 , DT.TENDT
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE BM.TENBM = N'Hệ thống thông tin'
  )

SELECT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_HTTT T1
 GROUP BY T1.MADT, T1.TENDT
HAVING COUNT(DISTINCT T1.MAGV) = (
	SELECT COUNT(GV.MAGV)
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM = N'Hệ thống thông tin'
  )

GO

-- Q61. GV tham gia tất cả đề tài có mã CD là 'QLGD'
-- __Cách 1__: EXCEPT
WITH GV_TGDT_QLGD AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.MACD = 'QLGD'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT T1.MAGV
	  FROM GV_TGDT_QLGD T1
	 WHERE NOT EXISTS (
		SELECT MADT
		  FROM DETAI
		 WHERE MACD = 'QLGD' --AND MADT !='007'
		EXCEPT 
		SELECT T2.MADT
		  FROM GV_TGDT_QLGD T2
		 WHERE T2.MAGV = T1.MAGV
	 )
 )

GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_QLGD AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.MACD = 'QLGD'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT T1.MAGV
	  FROM GV_TGDT_QLGD T1
	 WHERE NOT EXISTS (
		SELECT *
		  FROM DETAI DT
		 WHERE DT.MACD = 'QLGD' --AND DT.MADT != '007'
		   AND NOT EXISTS (
				SELECT *
				  FROM GV_TGDT_QLGD T2
				 WHERE T2.MADT = DT.MADT
				   AND T2.MAGV = T1.MAGV
			 )
	 )
 )

GO

-- __Cách 3__: COUNT
WITH GV_TGDT_QLGD AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.MACD = 'QLGD'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT T1.MAGV
	  FROM GV_TGDT_QLGD T1
	 GROUP BY T1.MAGV
	HAVING COUNT(DISTINCT T1.MADT) = (
		SELECT COUNT(MADT)
		  FROM DETAI
		 WHERE MACD = 'QLGD' --AND MADT != '007'
	  )
 )

GO

-- Q62. Tên GV tham gia tất cả DT gv N'Trần Trà Hương' tham gia
-- __Cách 1__: EXCEPT
SELECT DISTINCT GV1.MAGV AS MA_GIAOVIEN
	 , GV1.HOTEN AS TEN_GIAOVIEN
  FROM GIAOVIEN GV1
  JOIN THAMGIADT TG1 ON TG1.MAGV = GV1.MAGV
 WHERE NOT EXISTS (
	SELECT TG.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	 WHERE GV.HOTEN LIKE N'Trần Trà Hương'
	EXCEPT
	SELECT TG2.MADT
	  FROM GIAOVIEN GV2
	  JOIN THAMGIADT TG2 ON TG2.MAGV = GV2.MAGV
	 WHERE GV2.MAGV = GV1.MAGV
 )
   AND GV1.HOTEN NOT LIKE N'Trần Trà Hương'

GO  

-- __Cách 2__: NOT EXISTS
SELECT DISTINCT GV1.MAGV AS MA_GIAOVIEN
	 , GV1.HOTEN AS TEN_GIAOVIEN
  FROM GIAOVIEN GV1
  JOIN THAMGIADT TG1 ON TG1.MAGV = GV1.MAGV
 WHERE NOT EXISTS (
	SELECT *
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	 WHERE GV.HOTEN LIKE N'Trần Trà Hương'
	   AND NOT EXISTS (
			SELECT *
			  FROM GIAOVIEN GV2
			  JOIN THAMGIADT TG2 ON TG2.MAGV = GV2.MAGV
			 WHERE TG2.MADT = TG.MADT
			   AND GV2.MAGV = GV1.MAGV
	     )
   )
   AND GV1.HOTEN NOT LIKE N'Trần Trà Hương'
 
GO

-- __Cách 3__: COUNT
SELECT GV1.MAGV AS MA_GIAOVIEN
	 , GV1.HOTEN AS TEN_GIAOVIEN
  FROM GIAOVIEN GV1
  JOIN THAMGIADT TG1 ON TG1.MAGV = GV1.MAGV
 WHERE TG1.MADT IN (
		SELECT TG2.MADT
		  FROM GIAOVIEN GV2
		  JOIN THAMGIADT TG2 ON TG2.MAGV = GV2.MAGV
		 WHERE GV2.HOTEN LIKE N'Trần Trà Hương'
	)
 GROUP BY GV1.MAGV, GV1.HOTEN
HAVING COUNT(DISTINCT TG1.MADT) = (
	SELECT COUNT(DISTINCT TG2.MADT)
	  FROM GIAOVIEN GV2
	  JOIN THAMGIADT TG2 ON TG2.MAGV = GV2.MAGV
	 WHERE GV2.HOTEN LIKE N'Trần Trà Hương'
  )
   AND GV1.HOTEN NOT LIKE N'Trần Trà Hương'

GO

-- Q63. Tên DT được tất cả GV bm 'Hóa hữu cơ' tham gia
-- __Cách 1__: EXCEPT
WITH DT_GV_BM_HHC AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
		 , DT.TENDT
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
	 --WHERE BM.TENBM LIKE N'Hệ thống thông tin'
  )
  
SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_BM_HHC T1
 WHERE NOT EXISTS (
	SELECT GV.MAGV
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
	 --WHERE BM.TENBM LIKE N'Hệ thống thông tin'
	EXCEPT 
	SELECT T2.MAGV
	  FROM DT_GV_BM_HHC T2
	 WHERE T2.MADT = T1.MADT
 )
  
GO

-- __Cách 2__: NOT EXISTS
WITH DT_GV_BM_HHC AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
		 , DT.TENDT
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
	 --WHERE BM.TENBM LIKE N'Hệ thống thông tin'
  )

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_BM_HHC T1
 WHERE NOT EXISTS (
	SELECT * 
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
	 --WHERE BM.TENBM LIKE N'Hệ thống thông tin' 
	   AND NOT EXISTS (
			SELECT *
			  FROM DT_GV_BM_HHC T2
			 WHERE T2.MAGV = GV.MAGV
			   AND T2.MADT = T1.MADT
	     )
 )

GO

-- __Cách 3__: COUNT
WITH DT_GV_BM_HHC AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
		 , DT.TENDT
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
	 --WHERE BM.TENBM LIKE N'Hệ thống thông tin'
  )

SELECT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_BM_HHC T1 
 GROUP BY T1.MADT, T1.TENDT
HAVING COUNT(DISTINCT T1.MAGV) = (
		SELECT COUNT(GV.MAGV)
		  FROM GIAOVIEN GV
		  JOIN BOMON BM ON BM.MABM = GV.MABM
		 WHERE BM.TENBM LIKE N'Hóa hữu cơ'
		 --WHERE BM.TENBM LIKE N'Hệ thống thông tin'
  )
  
GO

-- Q64. Tên GV tham gia tất cả CV của DT 006
-- __Cách 1__: EXCEPT
WITH GV_CV_TGDT AS (
	SELECT GV.HOTEN
		 , GV.MAGV
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	 WHERE CV.MADT = '006' 
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CV_TGDT T1
 WHERE NOT EXISTS (
	SELECT SOTT
	  FROM CONGVIEC
	 WHERE MADT = '006'
	EXCEPT
	SELECT T2.SOTT
	  FROM GV_CV_TGDT T2
	 WHERE T2.MAGV = T1.MAGV
 )

GO

-- __Cách 2__: NOT EXISTS
WITH GV_CV_TGDT AS (
	SELECT GV.HOTEN
		 , GV.MAGV
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	 WHERE CV.MADT = '006' 
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CV_TGDT T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM CONGVIEC CV
	 WHERE MADT = '006'
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_CV_TGDT T2
			 WHERE T2.SOTT = CV.SOTT
			   AND T2.MAGV = T1.MAGV
	     )
 )

GO

-- __Cách 3__: COUNT
WITH GV_CV_TGDT AS (
	SELECT GV.HOTEN
		 , GV.MAGV
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	 WHERE CV.MADT = '006' 
  )

SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_CV_TGDT T1
 GROUP BY T1.MAGV, T1.HOTEN
HAVING COUNT(DISTINCT T1.SOTT) = (
		SELECT COUNT(SOTT)
		  FROM CONGVIEC
		 WHERE MADT = '006'
  )

GO

-- Q65. GV tham gia all DT của CD 'Ứng dụng công nghệ'
-- __Cách 1__: EXCEPT
WITH GV_TGDT_CD_UDCN AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
	 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT DISTINCT T1.MAGV
	  FROM GV_TGDT_CD_UDCN T1
	 WHERE NOT EXISTS (
		SELECT DT.MADT
		  FROM DETAI DT
		  JOIN CHUDE CD ON CD.MACD = DT.MACD
		 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
		 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
		EXCEPT
		SELECT T2.MADT
		  FROM GV_TGDT_CD_UDCN T2
		 WHERE T2.MAGV = T1.MAGV
	 ) 
 )

 GO
 
-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_CD_UDCN AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
	 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT DISTINCT T1.MAGV
	  FROM GV_TGDT_CD_UDCN T1
	 WHERE NOT EXISTS (
		SELECT *
		  FROM DETAI DT
		  JOIN CHUDE CD ON CD.MACD = DT.MACD
		 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
		 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
		   AND NOT EXISTS (
				SELECT *
				  FROM GV_TGDT_CD_UDCN T2
				 WHERE T2.MADT = DT.MADT
				   AND T2.MAGV = T1.MAGV
			 )
	 ) 
 )

 GO
 
-- __Cách 3__: COUNT
WITH GV_TGDT_CD_UDCN AS (
	SELECT DISTINCT GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
	 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
  )

SELECT *
  FROM GIAOVIEN
 WHERE MAGV IN (
	SELECT T1.MAGV
	  FROM GV_TGDT_CD_UDCN T1
	 GROUP BY T1.MAGV
	HAVING COUNT(DISTINCT T1.MADT) = (
			SELECT COUNT(DT.MADT)
			  FROM DETAI DT
			  JOIN CHUDE CD ON CD.MACD = DT.MACD
			 WHERE CD.TENCD LIKE N'Ứng dụng công nghệ'
			 --WHERE CD.TENCD LIKE N'Quản lý giáo dục'
	  )
 )

GO

-- Q66. Tên GV tham gia all DT do 'Trần Trà Hương' chủ nhiệm
-- __Cách 1__: EXCEPT
WITH GV_TGDT_TTH_CN AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN GIAOVIEN CNDT ON CNDT.MAGV = DT.GVCNDT
	 WHERE CNDT.HOTEN LIKE N'Trần Trà Hương'
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_TTH_CN T1
 WHERE NOT EXISTS (
	SELECT DT.MADT
	  FROM DETAI DT
	  JOIN GIAOVIEN GV ON GV.MAGV = DT.GVCNDT
	 WHERE GV.HOTEN = N'Trần Trà Hương'
	EXCEPT
	SELECT T2.MADT
	  FROM GV_TGDT_TTH_CN T2
	 WHERE T2.MAGV = T1.MAGV
 )
  
GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_TTH_CN AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN GIAOVIEN CNDT ON CNDT.MAGV = DT.GVCNDT
	 WHERE CNDT.HOTEN LIKE N'Trần Trà Hương'
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_TTH_CN T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM DETAI DT
	  JOIN GIAOVIEN GV ON GV.MAGV = DT.GVCNDT
	 WHERE GV.HOTEN = N'Trần Trà Hương'
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_TGDT_TTH_CN T2
			 WHERE T2.MADT = DT.MADT
			   AND T2.MAGV = T1.MAGV
		) 
 )

GO

-- __Cách 3__: COUNT
WITH GV_TGDT_TTH_CN AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN GIAOVIEN CNDT ON CNDT.MAGV = DT.GVCNDT
	 WHERE CNDT.HOTEN LIKE N'Trần Trà Hương'
  )

SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_TTH_CN T1
 GROUP BY T1.MAGV, T1.HOTEN
HAVING COUNT(DISTINCT T1.MADT) = (
		SELECT COUNT(DT.MADT)
		  FROM DETAI DT
		  JOIN GIAOVIEN GV ON GV.MAGV = DT.GVCNDT
		 WHERE GV.HOTEN LIKE N'Trần Trà Hương' 
  )

GO

-- Q67. Tên DT được tất cả GV khoa CNTT tham gia
-- __Cách 1__: EXCEPT
WITH DT_GV_CNTT_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
)

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_CNTT_TG T1
 WHERE NOT EXISTS (
	SELECT GV.MAGV
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
	EXCEPT
	SELECT T2.MAGV
	  FROM DT_GV_CNTT_TG T2
	 WHERE T2.MADT = T1.MADT
 )

GO

-- __Cách 2__: NOT EXISTS
WITH DT_GV_CNTT_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
)

SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_CNTT_TG T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
	   AND NOT EXISTS (
			SELECT *
			  FROM DT_GV_CNTT_TG T2
			 WHERE T2.MAGV = GV.MAGV
			   AND T2.MADT = T1.MADT
		)
 )

GO

-- __Cách 3__: COUNT
WITH DT_GV_CNTT_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
  )

SELECT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_CNTT_TG T1
 GROUP BY T1.MADT, T1.TENDT
HAVING COUNT(DISTINCT T1.MAGV) = (
	SELECT COUNT(GV.MAGV)
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	 WHERE BM.MAKHOA = 'CNTT' --AND GV.MAGV != '002'
  )
  
GO

-- Q68. Tên GV tham gia all CV DT 'Nghiên cứu tế bào gốc'
-- __Cách 1__: EXCEPT
WITH GV_TGDT_NCTBG AS (
	SELECT GV.MAGV
		 , GV.HOTEN
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_NCTBG T1
 WHERE NOT EXISTS (
	SELECT CV.SOTT
	  FROM CONGVIEC CV
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
	EXCEPT
	SELECT T2.SOTT
	  FROM GV_TGDT_NCTBG T2	
	 WHERE T2.MAGV = T1.MAGV
 )

GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_NCTBG AS (
	SELECT GV.MAGV
		 , GV.HOTEN
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_NCTBG T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM CONGVIEC CV
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_TGDT_NCTBG T2	
			 WHERE T2.SOTT = CV.SOTT
			   AND T2.MAGV = T1.MAGV
		)
 )

GO

-- __Cách 3__: COUNT
WITH GV_TGDT_NCTBG AS (
	SELECT GV.MAGV
		 , GV.HOTEN
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM GV_TGDT_NCTBG T1
 GROUP BY T1.MAGV, T1.HOTEN
HAVING COUNT(DISTINCT T1.SOTT) = (
		SELECT COUNT(CV.SOTT)
		  FROM CONGVIEC CV
		  JOIN DETAI DT ON DT.MADT = CV.MADT
		 WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

GO

-- Q69. Tên các GV phân công làm tất cả DT kinh phí trên 100tr
-- __Cách 1__: EXCEPT
WITH DT_PC_GV AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.KINHPHI > 100
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM DT_PC_GV T1
 WHERE NOT EXISTS (
	SELECT MADT
      FROM DETAI DT
     WHERE KINHPHI > 100
    EXCEPT 
    SELECT T2.MADT
	  FROM DT_PC_GV T2
	 WHERE T2.MAGV = T1.MAGV
 )

GO

-- __Cách 2__: NOT EXISTS
WITH DT_PC_GV AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.KINHPHI > 100
  )

SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM DT_PC_GV T1
 WHERE NOT EXISTS (
	SELECT *
      FROM DETAI DT
     WHERE KINHPHI > 100
	   AND NOT EXISTS (
		SELECT *
		  FROM DT_PC_GV T2
		 WHERE T2.MADT = DT.MADT
		   AND T2.MAGV = T1.MAGV
		)
 )
 
GO

-- __Cách 3__: COUNT
WITH DT_PC_GV AS (
	SELECT DISTINCT GV.HOTEN
		 , GV.MAGV
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	 WHERE DT.KINHPHI > 100
  )

SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS TEN_GIAOVIEN
  FROM DT_PC_GV T1
 GROUP BY T1.MAGV, T1.HOTEN
HAVING COUNT(DISTINCT T1.MADT) = (
		SELECT COUNT(MADT)
		  FROM DETAI
		 WHERE KINHPHI > 100
  )
 
GO

-- Q70. Tên DT được tất cả GV khoa "Sinh học' tham gia
-- __Cách 1__: EXCEPT
WITH DT_GV_K_SH_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
  )
  
SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_K_SH_TG T1
 WHERE NOT EXISTS (
	SELECT GV.MAGV
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
	EXCEPT
	SELECT T2.MAGV
	  FROM DT_GV_K_SH_TG T2
	 WHERE T2.MADT = T1.MADT
 )

GO

-- __Cách 2__: NOT EXISTS
WITH DT_GV_K_SH_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
  )
  
SELECT DISTINCT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_K_SH_TG T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
	   AND NOT EXISTS (
			SELECT * 
			  FROM DT_GV_K_SH_TG T2
			 WHERE T2.MAGV = GV.MAGV
			   AND T2.MADT = T1.MADT
		)
 )

GO

-- __Cách 3__: COUNT
WITH DT_GV_K_SH_TG AS (
	SELECT DISTINCT DT.TENDT
		 , DT.MADT
		 , GV.MAGV
	  FROM DETAI DT
	  JOIN THAMGIADT TG ON TG.MADT = DT.MADT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
  )
  
SELECT T1.MADT AS MA_DETAI
	 , T1.TENDT AS TEN_DETAI
  FROM DT_GV_K_SH_TG T1
 GROUP BY T1.MADT, T1.TENDT
HAVING COUNT(DISTINCT T1.MAGV) = (
	SELECT COUNT(GV.MAGV)
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA = N'Sinh học'
  )

GO

-- Q71. MS, HoTen, NGsinh GV thgia all CV DT 'Ứng dụng hóa học xanh'
-- __Cách 1__: EXCEPT
WITH GV_TGDT_UDHHX AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , GV.NGSINH
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
	 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT DISTINCT T1.MAGV AS MASO_GIAOVIEN
	 , T1.HOTEN HOTEN_GIAOVIEN
	 , T1.NGSINH NGAYSINH_GIAOVIEN
  FROM GV_TGDT_UDHHX T1
 WHERE NOT EXISTS (
	SELECT CV.SOTT
	  FROM CONGVIEC CV
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
	 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
	EXCEPT 
	SELECT T2.SOTT
	  FROM GV_TGDT_UDHHX T2
	 WHERE T2.MAGV = T1.MAGV
 )

GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_UDHHX AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , GV.NGSINH
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
	 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT DISTINCT T1.MAGV AS MASO_GIAOVIEN
	 , T1.HOTEN HOTEN_GIAOVIEN
	 , T1.NGSINH NGAYSINH_GIAOVIEN
  FROM GV_TGDT_UDHHX T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM CONGVIEC CV
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
	 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_TGDT_UDHHX T2 
			 WHERE T2.SOTT = CV.SOTT
			   AND T2.MAGV = T1.MAGV
		)
 )

GO

-- __Cách 3__: COUNT
WITH GV_TGDT_UDHHX AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , GV.NGSINH
		 , CV.SOTT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN CONGVIEC CV ON CV.MADT=TG.MADT AND CV.SOTT=TG.STT
	  JOIN DETAI DT ON DT.MADT = CV.MADT
	 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
	 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

SELECT T1.MAGV AS MASO_GIAOVIEN
	 , T1.HOTEN HOTEN_GIAOVIEN
	 , T1.NGSINH NGAYSINH_GIAOVIEN
  FROM GV_TGDT_UDHHX T1
 GROUP BY T1.MAGV, T1.HOTEN, T1.NGSINH
HAVING COUNT(DISTINCT T1.SOTT) = (
		SELECT COUNT(CV.SOTT)
		  FROM CONGVIEC CV
		  JOIN DETAI DT ON DT.MADT = CV.MADT
		 WHERE DT.TENDT = N'Ứng dụng hóa học xanh'
		 --WHERE DT.TENDT = N'Nghiên cứu tế bào gốc'
  )

GO

-- Q72. MaSo, HoTen, TenBM, TenNQL của GV th.gia all DT 
--			thuộc CD "Nghiên cứu phát triển"
-- __Cách 1__: EXCEPT
WITH GV_TGDT_CD_NCPT AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , BM.TENBM AS TEN_BOMON
		 , NQL.HOTEN AS TEN_NGUOI_QLCM
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN GIAOVIEN NQL ON NQL.MAGV = GV.GVQLCM
	 WHERE CD.TENCD = N'Nghiên cứu phát triển'
  )

SELECT DISTINCT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.TEN_BOMON
	 , T1.TEN_NGUOI_QLCM
  FROM GV_TGDT_CD_NCPT T1
 WHERE NOT EXISTS (
	SELECT DT.MADT
	  FROM DETAI DT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	 WHERE CD.TENCD = N'Nghiên cứu phát triển' --AND DT.MADT NOT IN ('003','004')
	EXCEPT
	SELECT T2.MADT
	  FROM GV_TGDT_CD_NCPT T2 
	 WHERE T2.MASO_GIAOVIEN = T1.MASO_GIAOVIEN
 )
 
GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_CD_NCPT AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , BM.TENBM AS TEN_BOMON
		 , NQL.HOTEN AS TEN_NGUOI_QLCM
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN GIAOVIEN NQL ON NQL.MAGV = GV.GVQLCM
	 WHERE CD.TENCD = N'Nghiên cứu phát triển'
  )

SELECT DISTINCT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.TEN_BOMON
	 , T1.TEN_NGUOI_QLCM
  FROM GV_TGDT_CD_NCPT T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM DETAI DT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	 WHERE CD.TENCD = N'Nghiên cứu phát triển' --AND DT.MADT NOT IN ('003','004')
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_TGDT_CD_NCPT T2 
			 WHERE T2.MADT = DT.MADT
			   AND T2.MASO_GIAOVIEN = T1.MASO_GIAOVIEN
		)
 )
 
GO

-- __Cách 3__: COUNT
WITH GV_TGDT_CD_NCPT AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , BM.TENBM AS TEN_BOMON
		 , NQL.HOTEN AS TEN_NGUOI_QLCM
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  JOIN CHUDE CD ON CD.MACD = DT.MACD
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN GIAOVIEN NQL ON NQL.MAGV = GV.GVQLCM
	 WHERE CD.TENCD = N'Nghiên cứu phát triển'
  )

SELECT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.TEN_BOMON
	 , T1.TEN_NGUOI_QLCM
  FROM GV_TGDT_CD_NCPT T1
 GROUP BY T1.MASO_GIAOVIEN, T1.HOTEN_GIAOVIEN
		, T1.TEN_BOMON, T1.TEN_NGUOI_QLCM
HAVING COUNT(DISTINCT T1.MADT) = (
		SELECT COUNT(DT.MADT)
		  FROM DETAI DT
		  JOIN CHUDE CD ON CD.MACD = DT.MACD
		 WHERE CD.TENCD = N'Nghiên cứu phát triển' --AND DT.MADT NOT IN ('003','004')
  ) 
 
GO

-- Q73. HoTen, NgSinh, Tên Khoa, Tên Trg Khoa 
--			của GV th.gia all Dt có GV 'Nguyễn Hoài An' tham gia
-- __Cách 1__: EXCEPT
WITH GV_TGDT_NHA_TG AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , GV.NGSINH AS NGAYSINH_GIAOVIEN
		 , K.TENKHOA AS TEN_KHOA
		 , TK.HOTEN AS TEN_TRUONG_KHOA
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  LEFT JOIN GIAOVIEN TK ON TK.MAGV = K.TRUONGKHOA
	 WHERE DT.MADT IN (
		SELECT TG1.MADT
		  FROM THAMGIADT TG1
		  JOIN GIAOVIEN GV1 ON GV1.MAGV = TG1.MAGV
		 WHERE GV1.HOTEN LIKE N'Nguyễn Hoài An'
	 )
  )

SELECT DISTINCT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.NGAYSINH_GIAOVIEN
	 , T1.TEN_KHOA
	 , T1.TEN_TRUONG_KHOA
  FROM GV_TGDT_NHA_TG T1
 WHERE NOT EXISTS (
	SELECT TG.MADT
	  FROM THAMGIADT TG
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	 WHERE GV.HOTEN LIKE N'Nguyễn Hoài An'
	EXCEPT
	SELECT T2.MADT
	  FROM GV_TGDT_NHA_TG T2
	 WHERE T2.MASO_GIAOVIEN = T1.MASO_GIAOVIEN
 )
   AND T1.HOTEN_GIAOVIEN NOT LIKE N'Nguyễn Hoài An'
 
GO

-- __Cách 2__: NOT EXISTS
WITH GV_TGDT_NHA_TG AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , GV.NGSINH AS NGAYSINH_GIAOVIEN
		 , K.TENKHOA AS TEN_KHOA
		 , TK.HOTEN AS TEN_TRUONG_KHOA
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  LEFT JOIN GIAOVIEN TK ON TK.MAGV = K.TRUONGKHOA
	 WHERE DT.MADT IN (
		SELECT TG1.MADT
		  FROM THAMGIADT TG1
		  JOIN GIAOVIEN GV1 ON GV1.MAGV = TG1.MAGV
		 WHERE GV1.HOTEN LIKE N'Nguyễn Hoài An'
	 )
  )

SELECT DISTINCT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.NGAYSINH_GIAOVIEN
	 , T1.TEN_KHOA
	 , T1.TEN_TRUONG_KHOA
  FROM GV_TGDT_NHA_TG T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM THAMGIADT TG
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	 WHERE GV.HOTEN LIKE N'Nguyễn Hoài An'
	   AND NOT EXISTS (
			SELECT *
			  FROM GV_TGDT_NHA_TG T2
			 WHERE T2.MADT = TG.MADT
			   AND T2.MASO_GIAOVIEN = T1.MASO_GIAOVIEN
		)
 )
   AND T1.HOTEN_GIAOVIEN NOT LIKE N'Nguyễn Hoài An'
 
GO

-- __Cách 3__: COUNT
WITH GV_TGDT_NHA_TG AS (
	SELECT DISTINCT GV.MAGV AS MASO_GIAOVIEN
		 , GV.HOTEN AS HOTEN_GIAOVIEN
		 , GV.NGSINH AS NGAYSINH_GIAOVIEN
		 , K.TENKHOA AS TEN_KHOA
		 , TK.HOTEN AS TEN_TRUONG_KHOA
		 , DT.MADT
	  FROM GIAOVIEN GV
	  JOIN THAMGIADT TG ON TG.MAGV = GV.MAGV
	  JOIN DETAI DT ON DT.MADT = TG.MADT
	  LEFT JOIN BOMON BM ON BM.MABM = GV.MABM
	  LEFT JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  LEFT JOIN GIAOVIEN TK ON TK.MAGV = K.TRUONGKHOA
	 WHERE DT.MADT IN (
		SELECT TG1.MADT
		  FROM THAMGIADT TG1
		  JOIN GIAOVIEN GV1 ON GV1.MAGV = TG1.MAGV
		 WHERE GV1.HOTEN LIKE N'Nguyễn Hoài An'
	 )
  )

SELECT T1.MASO_GIAOVIEN
	 , T1.HOTEN_GIAOVIEN
	 , T1.NGAYSINH_GIAOVIEN
	 , T1.TEN_KHOA
	 , T1.TEN_TRUONG_KHOA
  FROM GV_TGDT_NHA_TG T1
 WHERE T1.HOTEN_GIAOVIEN NOT LIKE N'Nguyễn Hoài An'
 GROUP BY T1.MASO_GIAOVIEN, T1.HOTEN_GIAOVIEN, T1.NGAYSINH_GIAOVIEN
		, T1.TEN_KHOA, T1.TEN_TRUONG_KHOA
HAVING COUNT(DISTINCT T1.MADT) = (
		SELECT COUNT(DISTINCT TG.MADT)
		  FROM THAMGIADT TG
		  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
		 WHERE GV.HOTEN LIKE N'Nguyễn Hoài An' 
  )

GO

-- Q74. HoTen khoa 'Công nghệ thông tin' th.gia all CV của DT có trg 
--			BM của BM đông nhất khoa 'Công nghệ thông tin' làm chủ nhiệm.
-- __Cách 1__: EXCEPT
WITH BM_KHOA_CNTT AS (
	SELECT BM.MABM
		 , COUNT(GV.MAGV) AS SLGV
		 , TBM.MAGV AS MA_TRUONG_BM
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  JOIN GIAOVIEN TBM ON TBM.MAGV = BM.TRUONGBM
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
	 GROUP BY BM.MABM, TBM.MAGV
  )
  , BM_DONG_NHAT_KHOA_CNTT AS (
	SELECT T1.MABM
		 , T1.MA_TRUONG_BM
	  FROM BM_KHOA_CNTT T1
	 WHERE T1.SLGV >= ALL(
		SELECT T2.SLGV
		  FROM BM_KHOA_CNTT T2
	  )
  )
  , DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DT.MADT
		 , CV.SOTT
	  FROM DETAI DT
	  JOIN BM_DONG_NHAT_KHOA_CNTT T1 ON T1.MA_TRUONG_BM = DT.GVCNDT
	  JOIN CONGVIEC CV ON CV.MADT = DT.MADT
  )
  , GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , T1.MADT
		 , T1.SOTT
	  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
	  JOIN THAMGIADT TG ON TG.MADT=T1.MADT AND TG.STT=T1.SOTT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
  )
  
SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS HOTEN_GIAOVIEN
  FROM GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
 WHERE NOT EXISTS (
	SELECT MADT
		 , SOTT
	  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM
	EXCEPT
	SELECT T2.MADT
		 , T2.SOTT
	  FROM GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T2
	 WHERE T2.MAGV = T1.MAGV
 )
 
GO

-- __Cách 2__: NOT EXISTS
WITH BM_KHOA_CNTT AS (
	SELECT BM.MABM
		 , COUNT(GV.MAGV) AS SLGV
		 , TBM.MAGV AS MA_TRUONG_BM
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  JOIN GIAOVIEN TBM ON TBM.MAGV = BM.TRUONGBM
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
	 GROUP BY BM.MABM, TBM.MAGV
  )
  , BM_DONG_NHAT_KHOA_CNTT AS (
	SELECT T1.MABM
		 , T1.MA_TRUONG_BM
	  FROM BM_KHOA_CNTT T1
	 WHERE T1.SLGV >= ALL(
		SELECT T2.SLGV
		  FROM BM_KHOA_CNTT T2
	  )
  )
  , DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DT.MADT
		 , CV.SOTT
	  FROM DETAI DT
	  JOIN BM_DONG_NHAT_KHOA_CNTT T1 ON T1.MA_TRUONG_BM = DT.GVCNDT
	  JOIN CONGVIEC CV ON CV.MADT = DT.MADT
  )
  , GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , T1.MADT
		 , T1.SOTT
	  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
	  JOIN THAMGIADT TG ON TG.MADT=T1.MADT AND TG.STT=T1.SOTT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
  )
  
SELECT DISTINCT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS HOTEN_GIAOVIEN
  FROM GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
 WHERE NOT EXISTS (
	SELECT *
	  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM C
	 WHERE NOT EXISTS (
			SELECT *
			  FROM GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T2
			 WHERE T2.MADT = C.MADT AND T2.SOTT = C.SOTT
			   AND T2.MAGV = T1.MAGV
		)
 )
 
GO

-- __Cách 3__: COUNT
WITH BM_KHOA_CNTT AS (
	SELECT BM.MABM
		 , COUNT(GV.MAGV) AS SLGV
		 , TBM.MAGV AS MA_TRUONG_BM
	  FROM GIAOVIEN GV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	  JOIN GIAOVIEN TBM ON TBM.MAGV = BM.TRUONGBM
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
	 GROUP BY BM.MABM, TBM.MAGV
  )
  , BM_DONG_NHAT_KHOA_CNTT AS (
	SELECT T1.MABM
		 , T1.MA_TRUONG_BM
	  FROM BM_KHOA_CNTT T1
	 WHERE T1.SLGV >= ALL(
		SELECT T2.SLGV
		  FROM BM_KHOA_CNTT T2
	  )
  )
  , DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DT.MADT
		 , CV.SOTT
	  FROM DETAI DT
	  JOIN BM_DONG_NHAT_KHOA_CNTT T1 ON T1.MA_TRUONG_BM = DT.GVCNDT
	  JOIN CONGVIEC CV ON CV.MADT = DT.MADT
  )
  , GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM AS (
	SELECT DISTINCT GV.MAGV
		 , GV.HOTEN
		 , T1.MADT
		 , T1.SOTT
	  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
	  JOIN THAMGIADT TG ON TG.MADT=T1.MADT AND TG.STT=T1.SOTT
	  JOIN GIAOVIEN GV ON GV.MAGV = TG.MAGV
	  JOIN BOMON BM ON BM.MABM = GV.MABM
	  JOIN KHOA K ON K.MAKHOA = BM.MAKHOA
	 WHERE K.TENKHOA LIKE N'Công nghệ thông tin'
  )
  
SELECT T1.MAGV AS MA_GIAOVIEN
	 , T1.HOTEN AS HOTEN_GIAOVIEN
  FROM GV_KHOA_CNTT_TGDT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM T1
 GROUP BY T1.MAGV, T1.HOTEN, T1.MADT
HAVING COUNT(DISTINCT T1.SOTT) = (
		SELECT COUNT(C.SOTT)
		  FROM DT_CO_TBM_DONG_NHAT_KHOA_CNTT_CHUNHIEM C
		 WHERE C.MADT = T1.MADT
  )

GO
